.App {
  text-align: center;
  background-color: #0b2434;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Main {
  background-color: #f5f5f5;
  width: 320px;
  height: 320px;
  margin: auto;
  border-radius: 10px;
  color: #2b283a;
  padding-top: 33.28px;
}

.title {
  font-size: 25.6px;
  font-weight: 700;
}

.para {
  font-size: 13.11px;
  line-height: 16px;
  letter-spacing: -0.03em;
  width: 230px;
  margin: auto;
}

.dice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 18.56px 17.92px;
  justify-items: center;
  margin: 23.08px 34.56px 25.6px 34.56px;
}

.die {
  width: 35.84px;
  height: 35.84px;
  border-radius: 3.81px;
  background-color: #ffffff;
  font-size: 20.5889px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.freeze {
  background-color: #59e391;
}

.roll {
  width: 100px;
  height: 40px;
  background-color: #5035ff;
  border: none;
  border-radius: 3.81px;
  color: #ffffff;
  font-weight: 700;
  line-height: 19px;
  font-size: 16.384px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;
}
